
.maincontent{
    height: calc(100% - (53px + 24px));
    width: 85%;
    position: fixed;
    margin-left: 15%;
    background-color: #001930;
    padding:50px;
    /*box-shadow: 0px 0px 50px rgba(0, 120, 255, 0.8),*/
                /*0px 0px 30px rgba(0, 120, 255, 0.6) inset,*/
                /*0px 0px 0px rgb(0, 0, 0);*/
}


.btncolor{
    color: black;
    padding: 2px 2px !important;
}
.btncolor:hover{
    background:linear-gradient(to bottom right,#00c59a, #0085c2); ;
    color: white;
    padding: 2px 2px !important;
}

#pager a:hover{
    background:linear-gradient(to bottom right,#00c59a, #0085c2); ;
    color: white;
}
.Chead{
    /*height: 30px;*/
    /*position: absolute;*/
    /*z-index: 100;*/
    /*width: 100%;*/
    text-align: center;
    text-shadow: 0 0 3px cyan ;
    font-size: 16px;
}

.Cfoot{
    position: absolute;
    width: 100%;
    z-index: 100;
    bottom: 0px;
    background: linear-gradient(to bottom right,#00c59a, #0085c2);
    color: white;
    text-align: center
}

.left{
    height: calc(100% - (53px + 24px));
    width: 15%;
    position: fixed;
    background-color:#001930;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-style: marquee-block;
    overflow: auto;
}

.Cshadow{;
    background-color: #001930;
    margin-bottom: 0;
    background: linear-gradient(to bottom right,#00c59a, #0085c2);
    width: 100%;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
}

.Cfontshadow{
    color: white;
    text-shadow: 1px 1px 10px white
}


.listl li{
    width: inherit !important;
    margin-bottom: 10px !important;
    cursor: pointer;
}

.listl li:hover{
    color: white;
    width: inherit !important;
    margin-bottom: 10px !important;
    cursor: pointer;
    text-shadow: 1px 1px 10px white;
    background:linear-gradient(to bottom right,#00c59a, #0085c2); ;
    color: white;
}

.setcenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Ctable{
    color: #c3c3c3;
    margin-left: 30px;
    margin-top: 30px;
}

.Ctable tr{
    background: #0d253b;
}

.Ctable tr:nth-child(2n){
    background: #1c5483;
}

.Ctitle{
    width: calc(100% - 400px);
}

.Cinput{
    background-color: #001930;
    border: none;
    color: white;
}
.Cinput:focus{
    background-color: #003e73;
    border: white;
}